.root{
  background-image: url("../../asset/house.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .left{

  }

  .container {
    flex: 0 0 100%;
  }
}

