.fieldRoot{
  padding-top: 90px;
}
.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding-top: 40px;

  .button-1{
    margin-right: 20px;
  }

}
.cardRoot{
  max-width: 345px;
  margin-top: 20px;
}

.my-account-title{
  width: 100vw;
  height: 4vw;
  border: 1px dotted darkgrey;
  display: flex;
  border-radius: 0.2vw;
  padding-left: 20px;
  justify-content: center;
  flex-direction: column;
  font-family: 'Play', sans-serif;


  .title{
    font-size: 1vw;
  }
}

